<div class= "smurfy span3 offset4 text-center">

	<%= simple_form_for @pic do |f| %>
		<%= f.input :title, label: "Box Category" %>
		<%= f.input :subtitle, label: "Description" %>
		<%= f.input :message, label: "Details" %>

		<%= f.submit "Save", :class=>'btn btn-info' %>
	<% end %>

</div>